<section class="about-faq">
  <div class="center">
    Meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow MEOW MEOW MEOW MEOW meow meow meow meow meow meow meow meow meow MEOW MEOW MEOW MEOW MEOW meow meow meow meow meow meow meow meow meow meow meow meow meow MEOW MEOW meow meow meow meow meow meow meow MEOW MEOW meow meow meow meow meow meow meow MEOW MEOW meow meow meow meow meow meow meow.
  </div>
</section>