<section class="about-faq">
  <div class="center">
    <div>Q: Question</div>
    <div>A: Answer</div>
    <div>Q: Question</div>
    <div>A: Answer</div>
    <div>Q: Question</div>
    <div>A: Answer</div>
    <div>Q: Question</div>
    <div>A: Answer</div>
    <div>Q: Question</div>
    <div>A: Answer</div>
    <div>Q: Question</div>
    <div>A: Answer</div>
    <div>Q: Question</div>
    <div>A: Answer</div>
    <div>Q: Question</div>
    <div>A: Answer</div>
  </div>
</section>