// Layout
$min-width: 992px;
$min-height: 682px;
$padding: 60px;
$padding-mobile: $padding / 3;

// Colors
$purple: #9606cc;
$gray: #504956;
$light-gray: #757575;
$blue: #090b71;
$light-blue: #1e9cfd;
$yellow: #ffec06;