<section class="index">
  <div class="center" style="margin-left: -80px;">
    <div class="p text-center">
      <%= @reason.plug_status %>
    </div>
    <div class="d-flex justify-content-between">
      <div class="p">
        <%= @message %>
      </div>
    </div>
  </div>
</section>